*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --margin-horizontal: 25%;
}

body {
    display: grid;
    grid-template-rows: repeat(3, 5rem) auto;
    min-height: 100vh;
    background: linear-gradient(to bottom, #87CEEB, #0000c6);
    color: white;
    font-size: 1.5rem;
}

.settings,
.dateSwitch,
.time,
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 var(--margin-horizontal);
}

.settings {
    justify-content: flex-end;
}

.settings img {
    height: 4rem;
}

.settings img:hover {
    cursor: pointer;
}

.location {
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.location>input {
    display: none;
    width: 100%;
    height: 2rem;
    padding: 0 0.5rem;
}

.location>img {
    margin-top: 1rem;
}

.unitSwitch>img {
    margin-top: 0.3rem;
}

.dateSwitch>div {
    display: flex;
    min-width: 30rem;
    padding: 0.4rem;
    border-radius: 2rem;
    background-color: white;
}

.dateSwitch>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 3rem;
    color: black;
    border-radius: 2rem;
}

.dateSwitch>div>div:hover {
    cursor: pointer;
}

.dateSwitch>div>div.chosen {
    background-color: grey;
    color: white;
}

.now {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    place-content: center;
}

.now>div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.currentConditions>div>* {
    height: 4.5rem;
}

.currentConditions>div {
    display: grid;
    place-items: center;
    height: 8rem;
}

.detailedConditions {
    margin-left: -3rem;
}

.detailedConditions>div {
    display: flex;
    align-items: center;
}

.detailedConditions img {
    width: 6rem;
}

.hourlyWeather>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.hourlyWeather span {
    width: 9rem;
}

th,
td {
    height: 4rem;
    width: 10rem;
    text-align: center;
    border-bottom: 2px solid white;
}

footer {
    margin: 2rem 0 0.5rem 0;
    text-align: center;
    width: 100%;
    font: normal 1rem sans-serif;
}